<section class="parallax-window bg-img" data-parallax="scroll" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Badriville Homestay
          </h1>
          <span>Joshimath</span>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->

<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a href="#" routerLink="home">Home</a></li>
        <li>Homestay</li>
      </ul>
    </div>
  </div>
  <!-- End Position -->

  <div class="margin_15">
    <div class="collapse" id="collapseMap">
      <div id="map" class="map">
        <div class="row map-responsive1">
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Badriville%20Resort%20Homestay,%20Singh%20Dhar%20Talla,%20Chamoli,%20Joshimath,%20Uttarakhand%20246443+(My%20Busqwqiness%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
          </iframe>
        </div>
      </div>
    </div>
    <!-- End Map -->
  </div>
  <div class="container margin_60">
    <div class="row">
      <div class="col-lg-8" id="single_tour_desc">

        <!-- Map button for tablets/mobiles -->
        <div id="homestay_carousel" class="slider-pro">
          <div class="sp-slides">
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/homestay/image_2.jpg"
                data-small="../../../../../assets/img/homestay/image_2.jpg"
                data-medium="../../../../../assets/img/homestay/image_2.jpg"
                data-large="../../../../../assets/img/homestay/image_2.jpg"
                data-retina="../../../../../assets/img/homestay/image_2.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/homestay/image_1.jpg"
                data-small="../../../../../assets/img/homestay/image_1.jpg"
                data-medium="../../../../../assets/img/homestay/image_1.jpg"
                data-large="../../../../../assets/img/homestay/image_1.jpg"
                data-retina="../../../../../assets/img/homestay/image_1.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/homestay/image_3.jpg"
                data-small="../../../../../assets/img/homestay/image_3.jpg"
                data-medium="../../../../../assets/img/homestay/image_3.jpg"
                data-large="../../../../../assets/img/homestay/image_3.jpg"
                data-retina="../../../../../assets/img/homestay/image_3.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/homestay/image_4.jpg"
                data-small="../../../../../assets/img/homestay/image_4.jpg"
                data-medium="../../../../../assets/img/homestay/image_4.jpg"
                data-large="../../../../../assets/img/homestay/image_4.jpg"
                data-retina="../../../../../assets/img/homestay/image_4.jpg">
            </div>
          </div>
          <div class="sp-thumbnails">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/homestay/image_1.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/homestay/image_2.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/homestay/image_3.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/homestay/image_4.jpg">
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-3">
            <h3></h3>
          </div>
          <div class="col-lg-9">
            <p>
              We give you a homely experience and a very calm holiday stay, in the comforts of a Colonial Home,
              set amidst myriad attractions near the Joshimath. Wakeup to the splendid view of Sleeping Lady and Mount
              Elephant, with
              surrounding filled with greenery to give you a peaceful, calm and quiet stay.
            </p>
            <ul>
              <li>Special deals and arrangements will be made for those who plan for long stays or work from mountain.
              </li>
              <li>Our battery backup system will help you get 24×7 power supply.
              </li>
              <li>Get dedicated parking slot for your beloved vehicle.
              </li>
              <li>Approved by Department Of Tourism, Govt of Uttarakhand.</li>
            </ul>

            <h4>Facilities</h4>
            <div class="row">
              <div class="col-md-6">
                <ul class="list_ok">
                  <li> Attached washroom with Geyser</li>
                  <li>Parking</li>
                  <li>Kitchen with Gas Connection and Basic Utensils </li>
                  <li>24X7 Electricity </li>
                  <li>Doctor On-Call</li>
                  <li>Additional Mattres On Reuqest</li>
                  <li>Taxi On-Request</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list_ok">
                  <li>Electric Kettle</li>
                  <li>Complementry Bonfire</li>
                  <li>Heater On-Request</li>
                  <li>Home made food On-Request</li>
                  <li>Travel Guide On-Request</li>
                </ul>
              </div>
            </div>
            <!-- End row  -->
          </div>
          <!-- End col-md-9  -->
        </div>
        <!-- End row  -->
      </div>
      <!--End  single_tour_desc-->

      <aside class="col-lg-4">
        <p class="d-none d-xl-block d-lg-block d-xl-none">
          <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false"
            aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View
            on map</a>
        </p>
        <!--/box_style_1 -->

        <div class="box_style_4">
          <i class="icon_set_1_icon-90"></i>
          <h4><span>Book</span> by phone</h4>
          <a href="tel://9412418725" class="phone">(+91) 9412418725 </a>
          <a href="tel://8126281997" class="phone">(+91) 8126281997 </a>
        </div>

      </aside>
    </div>
    <!--End row -->
  </div>
</main>
