@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair-display), serif;
}
