<section class="parallax-window bg-img" data-parallax="scroll" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>BADRIVILLE RESORT AND NATURE CAMP </h1>
          <span>Badrinath</span>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->

<main>

  <div id="position">
    <div class="container">
      <ul>
        <li><a href="#" routerLink="home">Home</a></li>
        <li>Resort</li>
      </ul>
    </div>
  </div>
  <!-- End Position -->

  <div class="margin_15">
    <div class="collapse" id="collapseMap">
      <div id="map" class="map">
        <div class="row map-responsive1">
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Badriville%20Resort%20Nagini%20Hills%20Badrinath,%20near%20ISBT%20Badrinath,%20Joshimath,%20Uttarakhand%20246443+(My%20Business%20Name)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
          </iframe>
        </div>
      </div>
    </div>
    <!-- End Map -->
  </div>
  <div class="container margin_60">
    <div class="row">
      <div class="col-lg-8" id="single_tour_desc">

        <!-- Map button for tablets/mobiles -->
        <div id="resort_carousel" class="slider-pro">
          <div class="sp-slides">
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/resorts/image_5.jpg"
                data-small="../../../../../assets/img/resorts/image_5.jpg"
                data-medium="../../../../../assets/img/resorts/image_5.jpg"
                data-large="../../../../../assets/img/resorts/image_5.jpg"
                data-retina="../../../../../assets/img/resorts/image_5.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/resorts/image_6.jpg"
                data-small="../../../../../assets/img/resorts/image_6.jpg"
                data-medium="../../../../../assets/img/resorts/image_6.jpg"
                data-large="../../../../../assets/img/resorts/image_6.jpg"
                data-retina="../../../../../assets/img/resorts/image_6.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/resorts/image_7.jpg"
                data-small="../../../../../assets/img/resorts/image_7.jpg"
                data-medium="../../../../../assets/img/resorts/image_7.jpg"
                data-large="../../../../../assets/img/resorts/image_7.jpg"
                data-retina="../../../../../assets/img/resorts/image_7.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/resorts/image_8.jpg"
                data-small="../../../../../assets/img/resorts/image_8.jpg"
                data-medium="../../../../../assets/img/resorts/image_8.jpg"
                data-large="../../../../../assets/img/resorts/image_8.jpg"
                data-retina="../../../../../assets/img/resorts/image_8.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/resorts/image_9.jpg"
                data-small="../../../../../assets/img/resorts/image_9.jpg"
                data-medium="../../../../../assets/img/resorts/image_9.jpg"
                data-large="../../../../../assets/img/resorts/image_9.jpg"
                data-retina="../../../../../assets/img/resorts/image_9.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/resorts/image_10.jpg"
                data-small="../../../../../assets/img/resorts/image_10.jpg"
                data-medium="../../../../../assets/img/resorts/image_10.jpg"
                data-large="../../../../../assets/img/resorts/image_10.jpg"
                data-retina="../../../../../assets/img/resorts/image_10.jpg">
            </div>
            <div class="sp-slide">
              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                data-src="../../../../../assets/img/resorts/image_11.jpg"
                data-small="../../../../../assets/img/resorts/image_11.jpg"
                data-medium="../../../../../assets/img/resorts/image_11.jpg"
                data-large="../../../../../assets/img/resorts/image_11.jpg"
                data-retina="../../../../../assets/img/resorts/image_11.jpg">
            </div>

          </div>
          <div class="sp-thumbnails">
            <img alt="Image" class="sp-thumbnail"
              src="../../../../../assets/../../../../../assets/img/resorts/image_5.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/resorts/image_6.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/resorts/image_7.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/resorts/image_8.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/resorts/image_9.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/resorts/image_10.jpg">
            <img alt="Image" class="sp-thumbnail" src="../../../../../assets/img/resorts/image_11.jpg">
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-3">
            <!-- <h3>Description</h3> -->
          </div>
          <div class="col-lg-9">
            <p>
              Badriville Resort has eco-sensitive individual cottages made of bamboo. Each cottage is
              spacious, offering you quiet and cosy
              with undisturbed view of the town, temple and overpowering Neelkanth peak.
              For the more adventurous ones, you can also rent trekking gear or even a mountain bike.

            </p>
            <h4>Facilities</h4>
            <p>
              Elegantly crafted and fully equipped interiors of these cottages are ideal for all types
              of stay – be it a short religious visit,
              trekking/biking expeditions or an extended yoga/meditation long stay.
            </p>
            <div class="row">
              <div class="col-md-6">
                <ul class="list_ok">
                  <li>We provide Luxury stay</li>
                  <li>Every room is equipped with a private balcony with the view of Badrinath
                  </li>
                  <li>The delicious homemade meal </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list_ok">
                  <li>24X7 Power Supply and Room service</li>
                  <li>Approved by Department Of Tourism, Govt of Uttarakhand</li>
                </ul>
              </div>
            </div>
            <!-- End row  -->
          </div>
          <!-- End col-md-9  -->
        </div>
        <!-- End row  -->

        <hr>

        <div class="row">
          <div class="col-lg-3">
            <h3>Rooms Types</h3>
          </div>
          <div class="col-lg-9">
            <h4>Primum Double Sharing</h4>


            <div class="row">
              <div class="col-md-6">
                <ul class="list_ok">
                  <li> Personal balcony</li>
                  <li> Attached washroom with Geyser</li>
                  <li> 24x7 Room Service</li>
                  <li> Electric Kettle</li>
                  <li> Iron</li>
                  <li> Veranda with sit out</li>
                  <li> Electric Blanket</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list_ok">
                  <li> Heater</li>
                  <li> Hair Dryer</li>
                  <li> Support for Loading,Unloading and
                    transport luggage</li>
                  <li> 24X7 Electricity</li>
                  <li> Doctor On-Call</li>
                  <li> Additional Mattres On Reuqest</li>
                  <li> Bonfire On-Request</li>
                </ul>
              </div>
            </div>
            <!-- End row  -->
            <div class="owl-carousel owl-theme carousel-resort magnific-gallery">
              <div class="item">
                <a href="../../../../../assets/img/resorts/image_1.jpg" data-effect="mfp-zoom-in"><img
                    src="../../../../../assets/img/resorts/image_1.jpg" alt="Image">
                </a>
              </div>
              <div class="item">
                <a href="../../../../../assets/img/resorts/image_2.jpg" data-effect="mfp-zoom-in"><img
                    src="../../../../../assets/img/resorts/image_2.jpg" alt="Image">
                </a>
              </div>
              <div class="item">
                <a href="../../../../../assets/img/resorts/image_3.jpg" data-effect="mfp-zoom-in"><img
                    src="../../../../../assets/img/resorts/image_3.jpg" alt="Image">
                </a>
              </div>
              <div class="item">
                <a href="../../../../../assets/img/resorts/image_4.jpg" data-effect="mfp-zoom-in"><img
                    src="../../../../../assets/img/resorts/image_4.jpg" alt="Image">
                </a>
              </div>
            </div>
            <!-- End photo carousel  -->

            <hr>

            <h4>Silver Double Sharing</h4>


            <div class="row">
              <div class="col-md-6">
                <ul class="list_ok">
                  <li> Attached washroom with Geyser</li>
                  <li> 24x7 Room Service </li>
                  <li> Electric Kettle</li>
                  <li> Iron</li>
                  <li> Veranda with sit out</li>
                  <li> Hair Dryer</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list_ok">
                  <li> Support for Loading,Unloading and
                    transport luggage </li>
                  <li> 24X7 Electricity </li>
                  <li> Doctor On-Call</li>
                  <li> Additional Mattres On Reuqest</li>
                  <li> Bonfire On-Request</li>
                </ul>
              </div>
            </div>

            <hr />

            <h4>Alpine Camping Double Sharing starts with INR 500</h4>
            <p>
              Enjoy outdoor camping within our premises with tents manufactured for comfortable accommodation.
            </p>

            <div class="row">
              <div class="col-md-6">
                <ul class="list_ok">
                  <li> Two Man Tent </li>
                  <li> Two Sleeping Bag</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list_ok">
                  <li>Two Mattres</li>
                  <li>Common Restroom(Washroom)</li>
                </ul>
              </div>
            </div>

            <div class="owl-carousel owl-theme carousel-resort magnific-gallery">
              <div class="item">
                <a href="../../../../../assets/img/resorts/image_6.jpg" data-effect="mfp-zoom-in"><img
                    src="../../../../../assets/img/resorts/image_6.jpg" alt="Image">
                </a>
              </div>
              <div class="item">
                <a href="../../../../../assets/img/resorts/image_7.jpg" data-effect="mfp-zoom-in"><img
                    src="../../../../../assets/img/resorts/image_7.jpg" alt="Image">
                </a>
              </div>
              <div class="item">
                <a href="../../../../../assets/img/resorts/image_5.jpg" data-effect="mfp-zoom-in"><img
                    src="../../../../../assets/img/resorts/image_5.jpg" alt="Image">
                </a>
              </div>


            </div>
            <!-- End photo carousel  -->

            <hr />

            <h4>Alpine Camp for Rent starts with INR 300
            </h4>
            <p>
              We also help you camp at the site of your interest with the tents for rent which are made to withstand
              unpredictable weather conditions.
            </p>

            <div class="row">
              <div class="col-md-6">
                <ul class="list_ok">
                  <li>Tent</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list_ok">
                  <li>Sleeping Bag and Mattres can be provided
                    on request
                  </li>
                </ul>
              </div>

              <div class="owl-carousel owl-theme carousel-resort magnific-gallery">
                <div class="item">
                  <a href="../../../../../assets/img/resorts/image_8.jpg" data-effect="mfp-zoom-in"><img
                      src="../../../../../assets/img/resorts/image_8.jpg" alt="Image">
                  </a>
                </div>
                <div class="item">
                  <a href="../../../../../assets/img/resorts/image_9.jpg" data-effect="mfp-zoom-in"><img
                      src="../../../../../assets/img/resorts/image_9.jpg" alt="Image">
                  </a>
                </div>
                <div class="item">
                  <a href="../../../../../assets/img/resorts/image_10.jpg" data-effect="mfp-zoom-in"><img
                      src="../../../../../assets/img/resorts/image_10.jpg" alt="Image">
                  </a>
                </div>
                <div class="item">
                  <a href="../../../../../assets/img/resorts/image_11.jpg" data-effect="mfp-zoom-in"><img
                      src="../../../../../assets/img/resorts/image_11.jpg" alt="Image">
                  </a>
                </div>

              </div>
              <!-- End photo carousel  -->

            </div>
          </div>
          <!-- End col-md-9  -->
        </div>

      </div>
      <!--End  single_tour_desc-->

      <aside class="col-lg-4">
        <p class="d-none d-xl-block d-lg-block d-xl-none">
          <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false"
            aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View
            on map</a>
        </p>
        <!--/box_style_1 -->

        <div class="box_style_4">
          <i class="icon_set_1_icon-90"></i>
          <h4><span>Book</span> by phone</h4>
          <a href="tel://9412418725" class="phone">(+91) 9412418725 </a>
          <a href="tel://8126281997" class="phone">(+91) 8126281997 </a>
        </div>

      </aside>
    </div>
    <!--End row -->
  </div>
  <!--End container -->
</main>
